<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MazeRunner2016.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MazeRunner2016.SettingsMazeRunner" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <MazeRunner2016.Properties.Settings>
            <setting name="numberOfThreads" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="createMazeAlgo" serializeAs="String">
                <value>PRIM</value>
            </setting>
            <setting name="solveMazeAlgo" serializeAs="String">
                <value>BFS,DFS</value>
            </setting>
            <setting name="numberOfAlgoToSolve" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="numberOfAlgoToCreate" serializeAs="String">
                <value>1</value>
            </setting>
        </MazeRunner2016.Properties.Settings>
        <MazeRunner2016.SettingsMazeRunner>
            <setting name="numberOfThreads" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="createMazeAlgo" serializeAs="String">
                <value>prim</value>
            </setting>
            <setting name="solveMazeAlgo" serializeAs="String">
                <value>BFS,DFS</value>
            </setting>
        </MazeRunner2016.SettingsMazeRunner>
    </userSettings>
</configuration>
